
@media all and (max-width:1600px) {    
}

@media all and (max-width:1440px) {    
}

@media all and (max-width:1336px) {
}

@media all and (max-width:1200px) {
   
}

@media all and (max-width:990px) {   
}

@media all and (max-width:800px) {

}

@media all and (max-width: 768px) {
 }

@media all and (max-width:640px) {     
}

@media all and (max-width: 576px) {
    .container {
        max-width: 100%;
    }
}

@media all and (max-width:480px) {     
}

@media all and (max-width:400px) {    
}