@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

header
{
    scroll-padding-top: 80px;
}
/* 
font-family: 'Open Sans','regular',
sans-serif;
*/

@font-face {
  font-family: 'sans100';
  src        : url('../fonts/museosans-100-webfont.woff2') format('woff2'),
    url('../fonts/museosans-100-webfont.woff') format('woff');
  font-weight: normal;
  font-style : normal;
}

@font-face {
  font-family: 'sans300';
  src        : url('../fonts/museosans-300-webfont.woff2') format('woff2'),
    url('../fonts/museosans-300-webfont.woff') format('woff');
  font-weight: normal;
  font-style : normal;
}

@font-face {
  font-family: 'sans500';
  src        : url('../fonts/museosans-500-webfont.woff2') format('woff2'),
    url('../fonts/museosans-500-webfont.woff') format('woff');
  font-weight: normal;
  font-style : normal;
}

@font-face {
  font-family: 'sans700';
  src        : url('../fonts/museosans-700-webfont.woff2') format('woff2'),
    url('../fonts/museosans-700-webfont.woff') format('woff');
  font-weight: normal;
  font-style : normal;
}

@font-face {
  font-family: 'slab300';
  src        : url('../fonts/museoslab-300-webfont.woff2') format('woff2'),
    url('../fonts/museoslab-300-webfont.woff') format('woff');
  font-weight: normal;
  font-style : normal;
}

@font-face {
  font-family: 'slab700';
  src        : url('../fonts/museoslab-700-webfont.woff2') format('woff2'),
    url('../fonts/museoslab-700-webfont.woff') format('woff');
  font-weight: normal;
  font-style : normal;
}

@font-face {
  font-family: "myriadPro-reg";
  src        : url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
    url('../fonts/MyriadPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style : normal;
}

@font-face {
  font-family: 'md-cn';
  src        : url('../fonts/helveticaNeueLTStd-MdCn.eot');
  src        : url('../fonts/helveticaNeueLTStd-MdCn.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helveticaNeueLTStd-MdCn.svg#helveticaNeueLTStd-MdCn') format('svg'),
    url('../fonts/helveticaNeueLTStd-MdCn.ttf') format('truetype'),
    url('../fonts/helveticaNeueLTStd-MdCn.woff') format('woff'),
    url('../fonts/helveticaNeueLTStd-MdCn.woff2') format('woff2');
  font-weight: normal;
  font-style : normal;
}


@font-face {
  font-family: 'light';
  src        : url('../fonts/HelveticaNeueLTStd-LtCn.eot');
  src        : url('../fonts/HelveticaNeueLTStd-LtCn.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueLTStd-LtCn.woff2') format('woff2'),
    url('../fonts/HelveticaNeueLTStd-LtCn.woff') format('woff'),
    url('../fonts/HelveticaNeueLTStd-LtCn.ttf') format('truetype'),
    url('../fonts/HelveticaNeueLTStd-LtCn.svg#HelveticaNeueLTStd-LtCn') format('svg');
  font-weight: 300;
  font-style : normal;
}

@font-face {
  font-family: 'bold';
  src        : url('../fonts/HelveticaNeueLTStd-BdCn.eot');
  src        : url('../fonts/HelveticaNeueLTStd-BdCn.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueLTStd-BdCn.woff2') format('woff2'),
    url('../fonts/HelveticaNeueLTStd-BdCn.woff') format('woff'),
    url('../fonts/HelveticaNeueLTStd-BdCn.ttf') format('truetype'),
    url('../fonts/HelveticaNeueLTStd-BdCn.svg#HelveticaNeueLTStd-BdCn') format('svg');
  font-weight: bold;
  font-style : normal;
}

@font-face {
  font-family: 'light-con';
  src        : url('../fonts/HelveticaLTStd-LightCond.eot');
  src        : url('../fonts/HelveticaLTStd-LightCond.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaLTStd-LightCond.woff2') format('woff2'),
    url('../fonts/HelveticaLTStd-LightCond.woff') format('woff'),
    url('../fonts/HelveticaLTStd-LightCond.ttf') format('truetype'),
    url('../fonts/HelveticaLTStd-LightCond.svg#HelveticaLTStd-LightCond') format('svg');
  font-weight: 300;
  font-style : normal;
}



/* 
font-family: 'Open Sans',sans-serif;
font-family: 'sans100';
font-family: 'sans300';
font-family: 'sans500';
font-family: 'sans700';
font-family: 'slab300';
font-family: 'slab700';
font-family: 'myriadPro-reg';
 font-family: 'light-con';
 font-family: 'md-cn';
  font-family: 'light';
  font-family: 'bold';
*/


html,
body {
  width      : 100%;
  overflow-x : hidden;
   line-height: 1.5; /* KHW UPDATE */
   /*height: 300em;*/
}

:root {
  --clr  : #035084;
  --clr-d: #19618f;
}

.csl{
  padding-top: 23px;
}

body {
  font-size: 16px;
  color    : #222;
  font-family: 'Roboto', sans-serif;
    sans-serif;
  font-weight: 400;
  margin     : 0;
  padding    : 0;
  overflow   : hidden;
}

.logo127 img{
 width: auto; /* KHW UPDATE */
  max-width: 100%; /* KHW UPDATE */
  height: auto; /* KHW UPDATE */
}
a {
  transition        : all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition   : all 0.2s ease-in-out;
  -o-transition     : all 0.2s ease-in-out;
  -ms-transition    : all 0.2s ease-in-out;
  text-decoration   : none;
 /* color             : #009bcb;*/
 color:  #741c34;


}
.ing{
  text-decoration: underline;
}
.pro-foo{
  /*padding-bottom: 100px;*/
}

  }

.csl{
  font-size: 23px;
  display: flex;
  padding-top: 18px;
  padding-bottom: 18px;

}
/*@media all and (max-width:400px)
{
  .csll
  {
  padding-top: 14px;
}
}
*/
.csll
{ 
  padding-bottom: 14px;
  display: flex;
  margin-left:-14px;
   font-size: 0.9em; /* KHW UPDATE */
}


@media  (max-width: 510px)
{
  .csll
{
font-size: 14px; 
}
}
.logo
{
  padding-top: 10px;
}
@media(max-width: 1368px)
{
  .row, .header-sec
 {
/*display: grid;*/
justify-content: center;


  }
}

@media(max-width: 280px){
  .logo{
    width: 80px;
  }
}
@media(max-width: 400px)
{
.header-sec{
  width: 100% !important;
  display: inline-flex;

}
}
@media(max-width: 333px)
{
 .header-sec 
  {
     /* display: block;
    margin: 0 auto;*/
   width: 100%; 
  }
}
@media (max-width: 410px)
{
.header-sec {
    justify-content: center;
}
}
@media(max-width: 768px)
{
  .row, .header-sec{
   /* align-content: center !important;*/
  }
}
@media(max-width: 410px)
{
  .csll,  .borr, .bor12
  {
      display: grid;
    font-size: 14px;
  }
}

/*@media (max-width: 1600px) {
  .csl{
    font-size: 14px;
     padding-top: 18px;
  padding-bottom: 18px;
  }*/
.bor{
  border-right: 3px solid  #741c34;
  color:  #741c34;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 600;
}
.bor1{
   border-right: 3px solid  #741c34;
   color:  #741c34;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 600;
}
.bor2{
   border-right: 3px solid  #741c34;
   color:  #741c34;
   padding-left: 10px;
  padding-right: 10px;
  font-weight: 600;

}
.bor3{
  color:  #741c34;
  /* border-right: 3px solid  #741c34;*/
    padding-left: 10px;
  padding-right: 10px;
  font-weight: 600;
}
a:hover {
  text-decoration: none;
  /*color          : #0072ce;*/
  color:  #741c34;
}

ul {
  list-style: none;
  margin    : 0;
  padding   : 0;
}

input [type=submit],
button {
  outline: none !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.clear {
  clear: both;
}

.mainContainer {
  position: relative;
}

.containerBig {
  width        : 1630px;
  padding-right: 15px;
  padding-left : 15px;
  margin-right : auto;
  margin-left  : auto;
}


.container {
  max-width: 1250px;
}

/* 
body {
  opacity: 0;
} */


.side-space {
  /*   margin  : 15px; */
  position: relative;
}


.pd-left {
  padding-left: 15px;
}

.mr-top1 {
  margin-top: 40px;
}

.mr-top2 {
  margin-top: 100px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

/* ============================================
 HEADER  
 =============================================*/
header {
 /* background: rgb(35, 64, 143);
  background: linear-gradient(60deg, rgba(35, 64, 143, 1) 0%, rgba(0, 181, 236, 1) 100%);
  background: -moz-linear-gradient(60deg, rgba(35, 64, 143, 1) 0%, rgba(0, 181, 236, 1) 100%);
  background: -webkit-linear-gradient(60deg, rgba(35, 64, 143, 1) 0%, rgba(0, 181, 236, 1) 100%);*/
background-color:  #0a355e;
   padding : 10px 30px; /* KHW UPDATE */
  margin  : 0 0px;
  position: relative;
}

.header-sec {
  justify-content: space-between;
  align-items    : center;
}



.logo {
  display       : inline-block;
  vertical-align: middle;
  padding-right : 20px;
 max-width     : 520px; /* KHW UPDATE */
}
.grey-bac
{
  background: #ececec !important;
/* background: #d8d4d4;*/
  padding   : 25px 40px;
  border-bottom: 4px solid  #741c34;;
}
.saf
{
  color:  #741c34;
  font-size: 26px !important;
   line-height: 1.3; /* KHW UPDATE */
  font-weight: 700;
 padding-top: 30px; /* KHW UPDATE */
  padding-bottom: 0; /* KHW UPDATE */
  padding-left: 15PX;
}

.con-tw{
  color: #646c6c;
  font-weight: 600;
}
.logo img {
  width: 100%; /* KHW UPDATE */
}

.header-cta li {
  display: inline-block;
   line-height: 1.1; /* KHW UPDATE */

}

.links li a {
  color      : #fff;
  padding    : 0 15px;
  font-family: 'Roboto', sans-serif;
   font-size  : 24px; /* KHW UPDATE */
}

.links li:first-child {
  border-right: 1px solid #fff;
}

.links li:first-child a {
  padding: 0 17px;
}

.buttons {
  margin-top: 35px; /* KHW UPDATE */
  list-style: none !important;
   text-align: center; /* KHW UPDATE */
}

.buttons li {
  margin: 0 13px;
}
/*color and border i changed down*/
.buttons li .btn {
  border-radius     : 30px;
  background        : #fff;
  font-size         : 21px;
  font-family       : 'Roboto', sans-serif;
 font-weight       : 400 !important; /* KHW UPDATE */
 /* color             : #009bcb;*/
 border            : 3px solid #741c34;
 color:  #741c34 !important;
  padding           : 5px 40px;
  transition        : all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition   : all 0.3s ease;
  -ms-transition    : all 0.3s ease;
  -o-transition     : all 0.3s ease;
}

.buttons li .btn:hover {
 /* color: #015084;*/
}

.buttons.bdr {
  /*display: flex;*/
  text-align: left; /* KHW UPDATE */
  margin-left  : 0px !important;
  margin-top   : 35px;
  margin-bottom: 35px
}

.buttons.bdr li {
  display: inline-block;
  margin : 0 10px;
}

.buttons.bdr li .btn {
  border-radius     : 30px;
  background        : #fff;
  font-size         : 21px;
  font-family       : 'Roboto', sans-serif;
  font-weight       : 500;
  /*color             : #009bcb;*/
  padding           : 5px 40px;
  /*border            : 1px solid #009bcb;*/
  display           : inline-block;
  transition        : all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition   : all 0.3s ease;
  -ms-transition    : all 0.3s ease;
  -o-transition     : all 0.3s ease;
}

.buttons.bdr li .btn:hover {
 /* border: 1px solid #015084;*/
 /* color : #015084;*/
}

/* ============================================
 HEADER OVER 
 =============================================*/

/* ============================================
 Footer 
 =============================================*/
footer {
  padding   : 35px 30px 55px;
  background: #0072CE;
}

.CSL-Behring-logo {
  max-width: 165px;
  margin   : 0 auto 15px;
}

.CSL-Behring-logo img {
  width: 100%;
}

.copyright {
  color: #fff;
  font-family: 'Open Sans', 'regular',
    sans-serif;
  font-size: 14px
}

.policys {
  font-family: 'Open Sans', 'regular', sans-serif;
  position   : relative;

  text-align : right;
  font-size  : 14px;
  color      : #fff;
  font-weight: 400;
}

.policys .subfoo-link li {
  display: inline-block;

  border-right: 1px solid #fff;
  padding     : 0 15px;
}

.policys .subfoo-link li:last-child {
  border-right: 0px solid #fff;
  padding     : 0 0 0 15px;
}

.policys a {
  color         : #fff;
  position      : relative;
  text-transform: uppercase;
}

.policys-information,
.policys-information a {
  color     : #fff;
  position  : relative;
  text-align: right !important;
  margin-top: 15px;
  font-size : 16px;
}

.policys-information a {
  text-decoration: underline;
}

.policys-information a:hover {
  text-decoration: none;
}

.floting-link {

  position: absolute;
  right   : 20px;
  border  : 0;
  bottom  : 15px;
}

/* ============================================
Footer Over
============================================= */

/* ============================================
Main Container
============================================= */
.quick-support
{
  /*padding-left:250px;
  padding-right: 240px;*/
  font-size: 24px !important;
  color: #646c6c;
   padding-bottom: 5px; /* KHW UPDATE */
  font-weight: 400; /* KHW UPDATE */
}


.main-topline {
  color      :  #0a355e;;
  font-size  : 56px !important; /* KHW UPDATE */
 /* padding-left: 250px;*/
 /* font-family: 'slab300';*/
  font-weight: 400; /* KHW UPDATE */
 /* line-height: 1.5;*/
  margin : 60px 0px 20px; /* KHW UPDATE */
}

.grade-logo {
  position     : absolute;
  background   : #eff9f7;
  box-shadow   : 1px 1px 4px 0px rgba(0, 0, 0, 0.1);
  padding      : 62px 0px;
  border-radius: 0px 0px 20px 20px;
  left         : -145px;
  width        : 115px;
  text-align   : center;
}

.grade-logo img {
  width: 72%;
}

.content {
  font-size  : 23px;
  color      : #778282;
  font-family: 'Roboto', sans-serif;
}

.content-sub {
  font-size: 18px;
  color    : #778282;
  font-family: 'Open Sans',
    'regular',
    sans-serif;
  margin-bottom: 50px;
  margin-top   : 50px;
}

.content-sub p {
  margin-bottom: 45px;
}

.c-title {
  color      : #2171b4;
  font-size  : 28px;
  font-family: 'slab300';
  font-weight: 600;
  margin     : 50px 0;

}

.table-content {
  text-align: center;
  font-size : 24px;

}

.table-content .list {
  padding-right: 1px;
  padding-left : 1px;
}

.table-content .head {
  background     : #00B5EC;
  color          : #fff;
  font-family    : 'slab700';
  display        : flex;
  align-items    : center;
  height         : 80px;
  justify-content: center;
  line-height    : 1.2;
}

.points {
  font-size: 24px;
  color    : #2171b4;
  font-family: 'Open Sans',
    'regular',
    sans-serif;
  font-weight   : 600;
  background    : #dff3ee;
  height        : 180px;
  display       : flex;
  flex-direction: column;
  line-height   : 1.2;
}

.points .column {
  display        : flex;
  justify-content: center;
  align-items    : center;
  border-bottom  : 2px solid #fff;
  height         : 100%;
}

.points .column.hightlight {
  background: #eff9f7;
}
.con_one{
  color: #0a355e;
}
.sec-bt{
  background-color:#0a355e;
}
.sec-btm {
  background-color: /*#0a355e;*/#f0ecec;

   border-top: 4px solid  #741c34;
   border-bottom: 4px solid #741c34;
    padding-bottom: 15px; /* KHW UPDATE */
   margin-bottom: 30px; /* KHW UPDATE */
}

.img-sec {
  margin    : 50px;
  box-shadow: 4px 4px 43px 0px rgba(0, 0, 0, 0.35);
}

.img-sec img {
  width: 100%;
}

.sec-btm .content {
  margin     : 50px 0;
 /* color      : #015084;*/
 color: #778288;
  font-family: 'Roboto', sans-serif;
}

.sec-btm .content p {
  margin-bottom: 5px;
}


.sec-btm ul {
  list-style : disc;
  margin-left: 30px;
  /*padding-bottom:15px;*/
}



.note {
  font-size: 17px;
  color    : #778288;
}


/* MODEL POPUP */
.default-box .modal-body {
  padding: 0;
}

.modal-box {
  position          : relative;
  display           : -ms-flexbox;
  display           : flex;
  -ms-flex-direction: column;
  flex-direction    : column;
  width             : 100%;
  pointer-events    : auto;
  background-color  : #fff;
  background-clip   : padding-box;
  border            : 1px solid rgba(0, 0, 0, .2);
  border-radius     : .3rem;
  outline           : 0;
  max-width         : 96%;
}

.headtxt
{
   font-weight: 600;
  font-size    : 50px;
 /* font-weight  : 500;*/
 color: white;
  margin-bottom: 20px;
}
.sm{
  color: white;
}
.modal-box .heading-text {

  /*font-family  : 'slab300';*/
  font-weight: 600;
  font-size    : 50px;
 /* font-weight  : 500;*/
  color        :  #0a355e;
  margin-bottom: 20px;
}

.model-title {
  font-family: 'Roboto', sans-serif;
    'regular',
    sans-serif;
  font-weight  : 700;
  font-size    : 25px;
  color        : #778288;
  margin-bottom: 20px;

}

.em1{
  color:  #741c34 !important;
  font-weight: 700;
}
.model-list,
.modal-body p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size  : 23px;
  color      : #778288;
}

.modal-body p {
  margin-bottom: 50px;
}

.modal-body p a {
  color          : #2171b4;
  text-decoration: underline;
}

.model-list li {
  display      : block;
  margin-bottom: 20px;
}

.form-validate {
  max-width: 540px;
  width    : 100%;
  margin   : 0 auto;
}

.form-group {
  margin-bottom: 25px;
}

#myModal #email-form #email-subject {
  line-height: 1.25rem;
  overflow-y : auto;
}


#myModal .form-control {
  word-wrap         : break-word;
  display           : block;
  width             : 100%;
  padding           : .375rem .75rem;
  font-size         : 1rem;
  line-height       : 1rem;
  height            : 3em ;
  color             : #495057;
  /*background-color  : transparent;*/
  background-clip   : padding-box;
  border            : 1px solid black;
  border-radius     : 0;
  -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition        : border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition        : border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition        : border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}


#myModal #email-form #email-body {
  overflow-y : auto;
  min-height : 150px;
  line-height: 1.25rem;
}

p.form-title {
  color      : white;
 /* font-family: 'slab700';*/
  font-size  : 39px;
  text-align : center;
  margin     : 50px 0
}

/* Checkbox */
/* The container */
.container-checkbox {
  display            : block;
  position           : relative;
  padding-left       : 35px;
  margin-bottom      : 12px;
  cursor             : pointer;
  font-size          : 21px;
  -webkit-user-select: none;
  -moz-user-select   : none;
  -ms-user-select    : none;
  user-select        : none;
  font-family        : 'Roboto', sans-serif;
    'regular',
    sans-serif;
  color        :white;
  margin-bottom: 30px;

}


.container-checkbox input {
  position: absolute;
  opacity : 0;
  cursor  : pointer;
}


.container-checkbox .checkmark {
  position        : absolute;
    top: 0px;
    left: 0px;
    height: 28px;
    width: 28px;
    background-color: #ffffff;
    border: 1px solid black;
}
}


.container-checkbox:hover input~.checkmark {
  background-color: white;
  border          : 1px solid white;
}

.container-checkbox input:checked~.checkmark {
  background-color: white;
  border          : 1px solid black;
}


.container-checkbox .checkmark:after {
  content : "";
  position: absolute;
  display : none;
}


.container-checkbox input:checked~.checkmark:after {
  display: block;
}


.container-checkbox .checkmark:after {
 left             : 8px;
  top              : 2px;
  width            : 10px;
  height           : 17px;
  border           : solid #741c34;
  border-width     : 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform    : rotate(45deg);
  transform        : rotate(45deg);
}

.noted {
  width     : 100%;
  text-align: right;
  font-size : 16px;
 /* color     : #4a4a4a;*/
 color: white;

}

.noted span {
  color: #ff0000;
}

.error {    
    width: 100%;
    margin-top: 0.25rem;
    font-size: 16px;
    color: #dc3545 !important;
}

.form-group label,
.form-group p {
  font-size: 20px;
 /* color    : #015084;*/
 color: white;
  margin-bottom: 0;
}

.req label:after,.req p:after  {
  content  : '*';
  position : absolutes;
  font-size: 16px;
  color    : #ff0000;

}

.other {
  border          : 0;
  background-color: transparent;
  border-bottom   : 1px solid white;
  position        : relative !important;
  opacity         : 1 !important;
}

.form-action {
  margin: 50px auto;
}

.form-action .container-checkbox {
  margin-left : auto;
  margin-right: auto;
  width       : fit-content;
  padding-right: 13px;
}
.csl p{
  color: white;
}
.csl p a{
  color: white;
}
.form-action .model-btn {
  background   : white;
  border       : 0;
  color        : #741c34;
  padding      : 14px 75px;
  border-radius: 25px;
  margin       : auto;
  display      : block;
  font-size: 20px;
}

.close {
  float      : right;
  font-size  : 45px;
  font-weight: 200;

  color      : #000;
  text-shadow: none;
  opacity    : 1;
}

.modal-header {
  border-bottom: 0;
}

.modal .close {
  width        : 50px;
  height       : 50px;
  border-radius: 50%;
  line-height  : 50px;
  background   : #ebebeb;
  color        :  #0a355e;
  padding      : 0;
  margin       : 0.9rem 0.9rem 0.9rem auto;
}

.modal-box .default-box {
  min-height: 90vh;
  display   : grid;

}

#myModal-2 .modal-box {
 /* background-color: #f1f9f7;*/
 background-color: #0a355e;
}

#myModal-2 .mainBody {
  position : absolute;
  top      : 50%;
  left     : 50%;
  transform: translate(-50%, -50%);
  width    : 100%;
}

.mob-icon,
.hambg-manu {
  display: none;
}

.imp-content {
  /*margin: 50px 0;*/
}
.ind{
  color:  #7b8383; !important;
  font-size: 26px !important;
  font-weight: 700;
 /* padding-top: 18PX;*/
  padding-bottom: 12PX;
 /* padding-left: 15PX;*/
}
}

.limitation
{
  font-size: 22px;
}
.sub{
  font-weight: 700;
}

.add{
  font-weight: 700;
}

.cli{
  color: #741c34;
  text-decoration: underline;
}
.bel{
  color: #741c34;
  text-decoration: underline;
}
.imp-content h6 {
  /*font-family: 'bold';*/
  font-weight: 700;
  font-size  : 24px;
 padding-top: 21px;
    color: #741c34;
  padding-bottom: 10px;
}

.imp-content p,
.imp-content li {
  /*font-family: 'light-con';*/
  font-size  : 23px;
  color      : #778288;
  line-height: 1.6;
}

/* KHW UPDATE */
.imp-content p.add {
  margin-bottom: 50px;
}
.imp-content.ref p {
  font-size: 20px;
}

.imp-content span {
  /*color: #0072ce;*/
}

.imp-content li {
  position     : relative;
  margin-bottom: 5px;
  padding-left : 20px;
}

.imp-content li:before {
  content      : '';
  position     : absolute;
  top          : 12px;
  left         : 0;
  width        : 10px;
  height       : 10px;
  border-radius: 10px;
  background   : #778288;


}

/* MEDIA QUERY START */
@media all and (max-width:1600px) {

  .container {
    max-width: 1100px;
  }

  .header-cta {
    text-align: center;
  }

  .links li a {
   font-size: 20px; /* KHW UPDATE */
  }

  .grade-logo {
    padding: 50px 0px;
    left   : -134px;
  }


  .img-sec {
    margin: 50px 35px;

  }


  .imp-content p,
  .imp-content li,
  .content,
  .points,
  .model-title {
    font-size: 22px;
  }
  
  .imp-content li:before {
 
  top          : 12px;
 
  width        : 9px;
  height       : 9px;
 

}

  .c-title {
    font-size: 26px;
  }

  .main-topline {
    font-size: 50px !important; /* KHW UPDATE */
  }

  .buttons.bdr li .btn,
  .buttons li .btn {
    font-size: 20px;
    padding  : 5px 25px;
  }

  .modal-box .heading-text {
    font-size: 32px;
  }

  .model-list,
  .modal-body p {
    font-size: 20px;
  }

  p.form-title {
    font-size: 25px;
  }

  .model-list li {
    margin-bottom: 18px;
  }

  .container-checkbox,
  .form-group label {
    font-size: 18px;
    padding-right: 7px;
  }
}

@media all and (max-width:1440px) {

  .container {
    max-width: 1050px;
  }

  .buttons.bdr li .btn {

    padding: 5px 15px;
  }

  .buttons.bdr {

    margin-top   : 25px;
    margin-bottom: 25px;
  }

  .img-sec {
    margin: 50px 15px;
  }

}

@media all and (max-width:1336px) {
  .container {
    max-width: 1010px;
  }

  .grade-logo {

    left : -125px;
    width: 110px;
  }

 header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  /* KHW UPDATE */
  .logo {
    max-width: 420px;
  }

  /* KHW UPDATE */
  img.center {
    margin-top: -42px !important;
  }

  /* KHW UPDATE */
  .buttons {
    margin-top: 20px;
  }

}

@media all and (max-width:1280px) {
  .container {
    max-width: 950px;
  }

  header {
    padding: 30px 20px;
  }

  .main-topline {
    font-size: 44px !important; /* KHW UPDATE */
    margin   : 32px 0px;
  }
  /* KHW UPDATE */
  .links {
    margin-left: 0;
  }

  /* KHW UPDATE */
  .links li a {
    font-size: 18px;
  }

  /* KHW UPDATE */
  .logo {
    max-width: 385px;
  }

  /* KHW UPDATE */
  img.center {
    margin-top: -56px !important;
  }
  
  .grade-logo {
    left : -125px;
    width: 110px;
  }

  .imp-content li {
    padding-left: 17px;
  }

  .imp-content li:before {
    top   : 10px;
    width : 9px;
    height: 9px;
  }

  .imp-content p,
  .imp-content li,
  .content,
  .points {
    font-size: 20px;
  }

  .imp-content.ref p {
    font-size: 17px;
  }

  .buttons.bdr li {
    display: inline-block;
    margin : 0 5px;
  }

  .buttons.bdr li .btn {
    font-size: 18px;
  }

  .buttons.bdr {
    margin-top   : 20px;
    margin-bottom: 20px;
  }

  .img-sec {
    margin: 50px 10px;
  }

  .c-title {
    font-size: 24px;
  }

  .table-content {
    font-size: 22px;
  }
}

@media all and (max-width:1200px) {

  html,
  body {
    line-height: 1.7;
  }

  .container {
    max-width: 900px;
    width    : 100%;
  }

  .modal-body .container {
    max-width: 900px;
    width    : 80%;
  }

  .floting-link {
    position: relative;
    right   : auto;
    bottom  : -20px;
    margin  : auto;
  }

  .policys {
    text-align: center;
  }

  .content-sub {
    font-size: 16px;
  }

  .imp-content p,
  .imp-content li,
  .content,
  .points {
    font-size: 19px;
  }

  .imp-content.ref p {
    font-size: 16px;
  }

  .buttons.bdr {
    margin-top   : 25px;
    margin-bottom: 25px;
  }
}

@media all and (max-width:1150px) {
  .grade-logo {
    position      : relative;
    top           : auto;
    left          : auto;
    display       : inline-block;
    margin-right  : 30px;
    vertical-align: top;
    width         : 100px;
  }

  .main-topline {
    display  : inline-block;
    width    : calc(100% - 160px);
    font-size: 30px;
    margin   : 20px 0px; /* KHW UPDATE */

  }


  .main-topline br {
    display: none;

  }

 /* KHW UPDATE */
  header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .logo {
    max-width: 355px; /* KHW UPDATE */
  }

  /* KHW UPDATE */
  img.center {
    margin-top: -42px !important;
    margin-bottom: 0 !important;
  }


  .model-list li span {
    float        : left;
    margin-bottom: 10px;
    margin-right : 10px;
  }

  .buttons {
    margin-top: 15px; /* KHW UPDATE */
    list-style: none !important;
  }

}

@media all and (max-width:900px) {
  .logo {
    margin-bottom: 25px;
  }

  .modal-box .heading-text {
    font-size: 28px;
  }

  .model-list li {
    margin-bottom: 14px;
  }

  .buttons.bdr li {
    display: block;
    margin : 20px auto;
    width  : 90%;
  }

  .buttons.bdr li .btn {
    width: 100%;
  }
 /* KHW UPDATE */
  .logo {
    max-width: 320px;
  }
  .links li a {
    font-size: 16px;
  }

  .buttons.bdr li .btn,
  .buttons li .btn {
    font-size: 18px;
    padding  : 5px 25px;
  }
 /* KHW UPDATE */
  .con_one h2 {
    padding-top: 0;
  }

  /* KHW UPDATE */
  .grey-bac {
    padding: 15px;
  }


}

@media all and (max-width:800px) {

  .logo {
    max-width: 285px; /* KHW UPDATE */
  }

  .content-sub,
  .model-list,
  .modal-body p {
    font-size: 17px;
  }

  p.form-title {
    font-size: 24px;
  }

  .imp-content p,
  .imp-content li,
  .content,
  .points {
    font-size: 18px;
  }
  
  .imp-content li:before {
    top   : 9px;
    width : 7px;
    height: 7px;
  }

  .imp-content.ref p {
    font-size: 15px;
  }

  .c-title {
    font-size: 22px;
    margin   : 35px 0px;
  }

  .table-content {
    font-size: 20px;
    flex-wrap: nowrap;
    overflow : auto;
  }

  .main-topline {
    font-size: 27px;
  }

  .content-sub p {
    margin-bottom: 35px;
  }

  .buttons.bdr li .btn {
    font-size    : 16px;
    margin-bottom: 15px;
  }

  .buttons.bdr {
    margin-top   : 35px;
    margin-bottom: 10px;
  }

  .grade-logo {
    padding     : 35px 0px;
    margin-right: 25px;
    width       : 80px;
  }

  .table-content .list {
    min-width: 250px;
  }

  .links li:first-child a {
    padding: 0 11px;
  }

  .buttons {
/*margin-top: 25px;*/ /* KHW UPDATE - REMOVE */
    list-style: none !important;
  }
}

@media all and (max-width:768px) {
  .img-sec {
    margin    : 10px auto 30px;
    max-width : 400px;
    text-align: center;
  }

  .sec-btm .content {
    margin: 50px 0 0;
  }

  .points {
    height: 150px;
  }

  .points .column {
    padding: 15px;
  }

  .container-checkbox,
  .form-group label {
    font-size: 16px;
  }

  .buttons.bdr {
    text-align: center;
  }

  .buttons.bdr li {
    display: inline-block;
    margin : 0px 10px;
    /*width  : 45%;*/ /* KHW UPDATE - REMOVE */
  }

  .logo {
    max-width: 400px; /* KHW UPDATE */
    margin: 0 auto 15px; /* KHW UPDATE */
    padding-right: 0; /* KHW UPDATE */
  }
  
   /* KHW UPDATE */
  .header-cta {
    width: 100%;
    margin-left: 0 !important;
  }


  .buttons.bdr li .btn,
  .buttons li .btn {
    font-size: 16px;
    padding  : 5px 25px;
  }

}

@media all and (max-width:710px) {
  .logo {
    padding-right: 0;
  }

  /*.header-sec {
    justify-content: center;
  }*/
/* KHW UPDATE */
  .main-topline {
    font-size: 40px !important;
  }
}

@media all and (max-width:670px) {}

@media all and (max-width:600px) {}

@media all and (max-width:576px) {

  .logo {
   width: 78%; /* KHW UPDATE */
  }

  .grade-logo {
    margin-right: auto;
    margin-left : auto;
    display     : block;

  }

  .main-topline {
    width: 100%;

  }

  .buttons.bdr li {
    display: inline-block;
    margin : 0px 10px;
    width  : 90%;
  }
}

@media all and (max-width:520px) {
  .modal-body .container {
    max-width: 900px;
    width    : 85%;
  }

  .header-cta>.buttons {
    display: none;
  }

  .mob-icon {
    display: block;
    z-index: 11
  }

  .mob-icon,
  .mob-icon:after,
  .mob-icon:before {
    position             : absolute;
    width                : 35px;
    height               : 3px;
    border-radius        : 5px;
    background-color     : #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius   : 5px;
    -ms-border-radius    : 5px;
    -o-border-radius     : 5px;
    right                : 0;
    top                  : 0; /* KHW UPDATE */
    transition           : all 0.3s ease;
    -webkit-transition   : all 0.3s ease;
    -moz-transition      : all 0.3s ease;
    -ms-transition       : all 0.3s ease;
    -o-transition        : all 0.3s ease;
  }

  .mob-icon:after,
  .mob-icon:before {
    content: '';
    top    : -8px;
    left   : 0;
  }

  .mob-icon:before {
    top: 8px;
  }

  .mob-icon.close {
    height: 0px;
  }

  .mob-icon.close:after,
  .mob-icon.close:before {
    top  : 0px;
    width: 25px;
  }

  .mob-icon.close:after {
    transform        : rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform   : rotate(45deg);
    -ms-transform    : rotate(45deg);
    -o-transform     : rotate(45deg);
  }

  .mob-icon.close:before {
    transform        : rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform   : rotate(-45deg);
    -ms-transform    : rotate(-45deg);
    -o-transform     : rotate(-45deg);
  }


  .hambg-manu {
    display           : block;
    position          : absolute;
    width             : 100%;
    height            : calc(100% + 50px);
    background-color  :  #174a7c;
    top               : -150%;
    left              : 0;
    z-index           : 10;
    transition        : all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition   : all 0.3s ease;
    -ms-transition    : all 0.3s ease;
    -o-transition     : all 0.3s ease;
  }

  .hambg-manu .buttons {
    position : absolute;
    margin   : 0;
    width    : 100%;
    top      : 50%;
    transform: translateY(-50%);
  }

  .hambg-manu .buttons li {
    margin : 20px auto;
    width  : 90%;
    display: block;
  }


  .hambg-manu .buttons li .btn {
    width    : 100%;
    font-size: 18px;
    padding  : 8px 25px;
  }


}

@media all and (max-width:480px) {

  .header-cta li {
    display: inline-block;
    margin : 0 0 7px;
  }

  .links li {
    margin: 0;
  }

  .links li a {
    font-size: 14px;
    padding  : 0 10px;
    margin   : 0;
  }

  .links li:first-child a {
    padding: 0 10px;
  }

  header {
    padding: 23px 8px;
  }

  /* .links li:first-child {
    border-right: 0px solid #fff;
  } */

}

@media all and (max-width:450px) {

  .main-topline {
    font-size: 22px;
  }

  .imp-content p,
  .imp-content li,
  .content,
  .points {
    font-size: 17px;
  }

  .imp-content.ref p {
    font-size: 14px;
  }

  .c-title {
    font-size: 20px;
  }

  .content-sub,
  .model-list,
  .modal-body p {
    font-size: 16px;
  }

  p.form-title {
    font-size: 22px;
  }


  .policys-information,
  .policys-information a {
    text-align: center !important;
  }


  .policys-information a {
    text-decoration: underline;
    width          : 100%;
    display        : block;
    margin-top     : 0px;
  }

  .links li a {
    padding: 0 8px;
  }

  .links li:first-child a {
    padding: 0 10px;
  }
}

@media all and (max-width:400px) {

  .model-list li span {
    float        : left;
    margin-bottom: 32px;
    margin-right : 10px;
  }

  .links li a {
    font-size: 13px;
  }
}

@media all and (max-width:375px) {
  .links li:first-child {
    border-right: 0px solid #fff;
  }

  .policys .subfoo-link li {
    padding: 0 10px;
  }

  footer {
    padding: 35px 15px 55px;
  }
}
@media only screen and (min-device-width : 801px) and (max-device-width : 865px)
{
.header-sec{
  width: 116%;
}

@media all and (max-width:360px)
{
  .logo
  {
    margin-left: 31px;
  }
}
}
.ind121
{
    padding-left:16px;
    color: #778288;
}
.ind1
{
     padding-left:16px;
     padding-bottom:40px;
     color: #778288;
}
.limi
{
    color: #778288; 
}
.p.cin {
    padding-top: 15px;
}
.sec-btm .content p:last-child
{
    padding-top: 15px;
}
.logo127 {
    padding-top: 45px;
}


.foo {
    margin-left: -14px;
    margin-bottom: 45px;

}
img.sf {
    margin-left: -20px;
}
img.center {
   margin-top: -35px; /* KHW UPDATE */
    margin-bottom: -50px; /* KHW UPDATE */
}
.header-cta {
    margin-left: -24px;
    margin-top: 0; /* KHW UPDATE */
}
.borr {
    padding-right: 8px;
}
.bor12 {
    padding-right: 8px;
}
.bor23 {
    padding-right: 8px;
}
.mr-left.fsdf {
    padding-left: 48px;
}

.gaIsi:active
{
    side-space 
    {
    /* margin: 16px; */
    position: relative;
    margin-top: 48px;
}}
@media all and (max-width:1270px)
{
    .header-sec
    {
        display: flex;
    }
    
}
@media all and (max-width:1133px)
{
    .header-sec
    {
        display: grid;
    }
}